<%provide(:title, 'Checkout') %>

<div id='itemsContainer'>
  <h2>Order <%=@orderReg %> placed!</h2>
  
    <table id='table'>
      <tr>
        <% @orders.limit(1).order(id: :desc).each do |order| %>
          <td>Order reference <%= order.id %></td>
        <%end%>
      </tr>
    </table>
    
    <table id='table'>
      <% @total = 0 %>
      <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>
        
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.quantity, :unit => '€') %></td>
      </tr>
      
      <% @total += item.price %>
      <%end%>
      
      <tr>
        <td>Order Total: &euro; <%= @total %></td>
            
        <% shipping = 30 %>
        <% @overall = shipping + @total %>
      </tr>
      
      <tr>
        <td>Shipping &euro;30</td>
      </tr>
      
      <tr>
        <td>Grand total &euro;<%= @overall %></td>
      </tr>
    </table>
</div>
