<p id='notice'><%= notice %></p>
<%provide(:title, 'Orders') %>

<h1>Profile</h1>

<p>
  <strong>E-mail:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Registered:</strong>
  <%= current_user.created_at %>
</p>

<p>
  <strong>Role:</strong>
  <% if current_user.role == 0 %>
  User
  <% elsif current_user.role == 1 %>
  Patron
  <% else %>
  Admin
  <%end%>
</p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order date</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  
  <tbody>
    <% @orders.each do |order| %>
      <% if order.user_id == current_user.id || current_user.role >= 2 %>
        <tr>
          <td><%= order.order_date %></td>
          <td><%= order.email %></td>
          <td><%= order.status %></td>
          <td><%= link_to 'Show', order %></td>
          
          <% if user_signed_in? && current_user.role >= 2 %>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
          
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>

<% if user_signed_in? && current_user.role >= 2 %>
  <%= link_to 'New Order', new_order_path, :class => 'button' %>
<%end%>

<a href='/users/edit' class='button'>Edit Account</a>

<% if user_signed_in? && current_user.role == 0 %>
  <%= link_to 'Request Elevation', elevation_path, :class => 'button', data: { confirm: 'An admin will be notified regarding your request! Proceed?' } %>
<%end%>

<% if user_signed_in? && current_user.role >= 2 %>
  <%= link_to 'User Requests', users_path, :class => 'button' %>
<%end%>
