<%provide(:title, 'Curate') %>

<table id='table'>
  <% @history.order(:id).reverse_each do |id| %>
    <% item = Item.find_by_id(id) %>
    
      <% times_ordered = 0 %>
      <% @ordered.order(:id).each do |ordered| %>
        <% if ordered.item_id == item.id %>
          <% times_ordered += 1 %>
        <%end%>
      <%end%>
      
      <tr>
        <td>
          <div class='image'>
            <%= link_to (image_tag item.image.url, :style => 'height:40px'), item %>
          </div>
        </td>

        <td class='title'><%= link_to item.title, item %></td>
        
        <td>Times ordered: <%= times_ordered %></td>
        
        <% unless item.approved? %>
          <td><%= link_to 'Approve', curate_approve_path(item.id), data: { confirm: 'Are you sure you wish to approve this item?' } %></td>
        <%else%>
          <td><%= link_to 'Disapprove', curate_disapprove_path(item.id), data: { confirm: 'Are you sure you wish to disapprove this item?' } %></td>
        <%end%>
      </tr>
  <%end%>
</table>
