<p id="notice"><%= notice %></p>
<%provide(:title, "Requests") %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>E-Mail</th>
      <th>Role</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <% if user.role == 0 %>
        <td>User</td>
        <%end%>
        <% if user.role == 1 %>
        <td>Patron</td>
        <%end%>
        <% if user.role == 2 %>
        <td>Admin</td>
        <%end%>
        <% if user.elevation? %>
        <td>User has requested elevation!
        <%= link_to 'Approve', approval_path(user.id), data: { confirm: 'Are you sure you wish to give the user patron status?' } %>
        </td>
        <% else %>
        <td>User is happy!</td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'Back', account_path %>
