<%provide(:title, @filter_term) %>

<div id='itemsContainer'>
  
  <h1><%= @filter_term + 's' %></h1>
  <h1><%= yield(:f) %></h1>
  
  <% @items.each do |item| %>
    <% if item.approved? %>
      <div class='itemBox'>
        
        <h1><%=item.title %></h1>
        
        <%= link_to (image_tag item.image.url, :class => 'itemImage'), item %>
        <p><%= item.description[0..150] + "..." %> <%= link_to '(Read more)', item %></p>
        <p>Price <%= number_to_currency(item.price, :unit => '€') %></p>
        
        <br>
        Category: <%= link_to item.category, '/search/' + item.category %>
        <br>
        Author: <%= link_to item.author, '/search/' + item.author %>
        
        <p>
          <%= link_to 'Show', item, :class => 'button', :role => 'button' %>
  
          <% unless @incart.has_key?(item.id.to_s) %>
            <a href='/cart/<%=item.id %>' class='button'>Add to Cart</a>
          <%else%>
            <a href='/cart' class='button'>&#10004;</a>
          <%end%>
          
          <% if user_signed_in? && current_user.role >= 2 %>
            <%= link_to 'Edit', edit_item_path(item), :class => 'button', :role => 'button' %>
            <%= link_to 'Delete', item, method: :delete, data:{confirm:'Are you sure?'}, :class => 'button', :role => 'button' %>
          <%end%>
        </p>
        
      </div>
    <%end%>
  <%end%>
</div>
