<%provide(:title, 'Search Results') %>

<h2>Results for: <%= @search_term %></h2>

<% if @items.length == 0 %>
  <h2>No match found...</h2>
<%end%>

<table class='catalog'>
  <% @items.each do |item| %>
    <% if item.approved? %>
      <tr>
        <td>
          <div class='image'>
            <%= link_to (image_tag item.image.url, :style => 'height:100px'), item %>
          </div>
              
          <div class='title'>
            <%= link_to item.title, item %>
          </div>
              
          <div class='description'>
            <p><%= item.description[0..150] + "..." %> <%= link_to '(Read more)', item %></p>
          </div>
              
          <div class='price'>
            <%= number_to_currency(item.price, :unit => '€') %>
          </div>
              
          <div class='links'>
            <a href='/cart/<%=item.id%>'>Add to Cart</a>
          </div>
        </td>
      </tr>
    <%end%>
  <%end%>
</table>
