<p id='notice'><%= notice %></p>
<%provide(:title, 'View Item') %>

<div id='itemsContainer'>
  
  <h1><%= @item.title %></h1>
  <%= image_tag @item.image.url, :class => 'welcomeImage' %>
  <h2><%= @item.description %></h2>
  
  <div class='itemhols'>
    <p>Price <%=number_to_currency(@item.price, :unit => '€') %>
    <br>
    Category: <%= link_to @item.category, '/filter/' + @item.category %>
    <br>
    Author: <%= link_to @item.author, '/search/' + @item.author %>
    </p>
    
    <p>
      <% unless @incart.has_key?(@item.id.to_s) %>
        <a href='/cart/<%=@item.id %>' class='button'>Add to Cart</a>
      <% else %>
        <a href='/cart' class='button'>&#10004;</a>
      <%end%>
      
      <% if user_signed_in? && current_user.role >= 2 %>
        <%= link_to 'Edit', edit_item_path(@item), :class => 'button', :role => 'button' %>
      <%end%>
      
      <%= link_to 'Back', items_path, :class => 'button', :role => 'button' %>
    </p>
  </div>
</div>
