<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Artsy Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <header class='header'>
      
      <h1>Production</h1>
      
      <ul>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Products', '/items' %></li>
        <li><%= link_to "Cart (#{@cart.count})", cart_path %></li>
        <li><%= link_to 'About', about_path %><li>
        <li><%= link_to 'Help', help_path %></li>
        
        <% if user_signed_in? %>
        <li><a href='/account'>Hello <%= current_user.email.split('@')[0].capitalize %> !</a></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
        <%else%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <%end%>
        
        <%= render 'layouts/search' %>
      </ul>
      
    </header>
  </head>
  
  <body>
    
    <div class='container'>
      <%= yield %>
    </div>
    
    <footer class='footer'>
    </footer>
  </body>
</html>
